@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #1B2430;
    font-family: 'Alegreya', serif;
}